.text-section {
    text-align: center;
    width: 100%;
    height: 600px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.text-section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.text-section.visible {
    opacity: 1;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
body {

    margin: 0;
    padding: 0;
    font-family: "vivo Light";
    background-color: #F0F2F5;
}
header {
    background-color: #333;
    color: white;
    padding: 0.5em;
    margin: 0;
}
/*主页顶部导航栏设计*/
nav {
    background-color: #333;
    color: white;
    padding: 0.5em;
    margin: 0;
    height: 15px;
}
nav .ul {
    font-family: "vivo Light", serif;
    list-style-type: none;
    margin-left: 80px;
    margin-right: 80px;
    padding: 0;

}
nav .ul li {
    display: inline;
    margin-right: 20px;
    font-size: 0.1em;
}
nav .ul li a {
    color: rgba(154, 192, 190, 0.75);
    text-decoration: none;
    transition: color 0.5s ease;/*过渡动画*/
}
nav .ul li a:hover {
    color: #fff;
}
nav #ul1 li{
    float: left;
}
nav #ul2 li{
    float: right;
}
nav #ul1{
    margin-top: 0;
    float: left;
}
nav #ul2{
    margin-top: 0;
    float: right;
}

nav .void{
    color: #818181;
}

/*主页分类导航栏及下拉菜单设计*/
.header1 {
    animation: showcontent 0.5s ease-in-out 0.05s 1 forwards;
    background-color: #fbf7f7;
    color: white;
    padding-top: 1em;
    margin: 0;
    width: 100%;
    height: 120px;
    transition: height 1s ease; /* 添加过渡效果 */
}
.nav1{
    width: 100%;
    height: 120px;
    background-color: #fbf7f7;
    margin-top: 0;
    transition: height 1s ease; /* 添加过渡效果 */
}
.nav1 .logo{
    letter-spacing: 2px;
    font-weight: bold;
    font-family: "vivo Light", serif;
    width:18%;
    height: 120px;
    font-size: 40px;
    text-align: center;
    margin-left: 50px;
    margin-top: 0px;

    float: left;
}
.nav1 .classify{
    width: 56%;
    height: 120px;
    float: left;
    margin-top: 0px;
    text-align: center;

}
.nav1 .classify li{
    font-family: "Microsoft YaHei UI";

    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: inline;
    padding-right: 40px;
    margin-top: 60px;
}
.nav1 .search{
    font-size: 15px;
    width: 18%;
    height: 80px;
    float:right;
    margin-top: 40px;
    text-align: center;
}
.nav1 .search a{
    text-align: center;
}
.nav1 .logo a{
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;/*过渡动画*/
}
.nav1 .logo a:hover{
    color: #415FFF;
}
.nav1 .classify a{
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;/*过渡动画*/
}
.nav1 .classify a:hover{
    color: #415FFF;
}
.show{
    width: 100%;
    height:500px;

}
.show img{
    width: 100%;
    height:600px;
    animation: showcontent 0.7s ease-in-out 0.05s 1 forwards;

}
.btn-play{
    position: relative;
    left:45%;

    background-color: #f3efef;
    width: 120px;
    height:40px;
    border-radius: 20px;
    border: 1px solid #d8d8e6;
    font-size:12px;
    font-family: "vivo Light";
}
.btn-play:hover{
    background-color: rgba(120, 243, 173, 0.35);
}
@keyframes showcontent {
    from{
        opacity: 0;
        transform: translateY(100px);
        filter:blur(20px);
    }to{
         opacity: 1;
         transform: translateY(0);
         filter:blur(0);
     }

}